<div class="split-page">
    <section class="panel">
        <mat-card (click)="router.navigate(['/courses'])">
            Курси
        </mat-card>
        <mat-card *ngIf="isAdmin" (click)="this.router.navigate(['/users'])">
            Користувачі
        </mat-card>
        <mat-card *ngIf="isMentor" (click)="this.router.navigate(['/mentor'])">
            Менторська панель
        </mat-card>
        <mat-card *ngIf="isAdmin || isStaff || isMentor">
            Студенти
        </mat-card>
        <mat-card *ngIf="isAdmin || isStaff">
            Статистика
        </mat-card>
    </section>

    <section class="content" id="component-content">
        
    </section>
</div>