.apply-button-container {
    position: fixed;
    top: 30%;
    left: 1%;
}

.apply-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.apply-button:hover {
    background-color: #0056b3;
}