.apply-button-container {
    margin: 2px;
}

.apply-button {
    background-color: #27AE60;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.wait-button {
    background-color: #858b88;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: wait;
}

.apply-button:hover {
    background-color: #65BF95;
}