.my-profile {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

/*Header*/
.header {
    background-color: #ffffff;
    width: 1440px;
    height: 1766px;
    position: relative;
}

.header-desktop {
    position: absolute;
    width: 1440px;
    height: 84px;
    top: 0;
    left: 0;
    background-color: #27ae60;
}

.header-courses {
    /*display: flex;*/
    width: 95px;
    height: 31px;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 27px;
    left: 581px;
}

.header-reviews {
    /*display: flex;*/
    width: 95px;
    height: 31px;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 27px;
    left: 764px;
}


.header-text-courses {
    font-family: "Inter-Regular", Helvetica, serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    letter-spacing: 0;
}


.header-vector {
    position: absolute;
    top: 12px;
    left: 80px;
    width: 8px;
    height: 6px;
}


.header-p-text-courses {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-right: -1px;
    font-family: "Inter-Regular", Helvetica, serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 0;
    white-space: nowrap;
}

.header-accordion-frame {
    display: flex;
    width: 197px;
    height: 84px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px;
    position: absolute;
    top: 0;
    left: 127px;
}

.header-practically {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica, serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 35px;
    margin-bottom: 8px

}

.header-rectangle {
    position: absolute;
    width: 54px;
    height: 54px;
    top: 15px;
    left: 1286px;
}

.header-text-user-name {
    position: absolute;
    top: 29px;
    left: 1352px;
    font-family: "Roboto-Regular", Helvetica, serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.header-frame-menu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 27px;
    left: 44px;
}

.header-line {
    position: relative;
    width: 45px;
    height: 6px;
    margin-top: -6px;
}

/*footer*/
.img {
    position: relative;
    width: 45px;
    height: 6px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 220px;
    top: 1546px;
    left: 0;
    background-color: #007396;
}

.footer-overlap-group {
    position: relative;
    width: 1440px;
    height: 220px;
    background-color: #3d3d3d;
}

.footer-copy-writer {
    position: absolute;
    height: 23px;
    top: 160px;
    left: 615px;
    font-family: "Roboto-Regular", Helvetica, serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.16px;
    line-height: 23.2px;
    white-space: nowrap;


}

.footer-frame-menu {
    display: inline-block;
    top: 82px;
    left: 637px;
    padding: 6px 4px 2px 4px;
    border-radius: 4px;
    border: 1px solid #FFF;
    position: relative;
    margin-right: 10px;
}

.footer-logo-sh_plus {
    width: 74px;
    height: 32px;

}

.footer-logo-discord {
    width: 46px;
    height: 46px;
    position: relative;
    top: 88px;
    left: 644px;
}

.footer-info {
    display: flex;
    width: 607px;
    height: 26px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 21px;
    left: 416px;
}

.footer-text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Regular", Helvetica, serif;
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 26.1px */
    letter-spacing: 0.18px;
    text-align: center;
    white-space: nowrap;

}

.footer-line {
    width: 1px;
    height: 15px;

}

/*body*/
.main-body {
    position: absolute;
    width: 820px;
    height: 859px;
    top: 227px;
    left: 310px;
}

.main-body-middle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-body-information {
    display: flex;
    width: 780px;
    align-items: center;
    gap: 30px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(100.92, 100.92, 162.56) 0%, rgb(203.91, 203.91, 249.69) 100%);
}

.main-photo {
    position: relative;
    width: 105px;
    height: 105px;
}

.main-information {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.main-name {
    font-family: "Inter-SemiBold", Helvetica, serif;
    color: #505050;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
}

.main-country {
    position: relative;
    width: fit-content;
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

.main-body-general {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 7px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
}

.general-text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

.general-border {
    display: flex;
    flex-wrap: wrap;
    width: 788px;
    align-items: center;
    gap: 32px 12px;
    padding: 16px 8px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    border: 1px solid;
    border-color: #555555;
}

.general-insert-frame {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 60px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.general-input {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: #eeeeee;
    border-radius: 8px;
}

.main-contact-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
}

.main-contact-frame {
    gap: 25px;
    padding: 16px 8px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    width: 788px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid;
    border-color: #555555;
}

.main-contact-insert-frame {
    display: flex;
    flex-direction: column;
    height: 60px;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.main-notification {
    height: 113px;
    gap: 32px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 788px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid;
    border-color: #555555;
}

.frame-notification {
    flex: 1;
    flex-grow: 1;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.toggle-off-1 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -8px;
    left: 711px;
}

.text-notification {
    position: absolute;
    height: 16px;
    top: 4px;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.toggle-off-2 {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -16px;
    left: 711px;
}

.main-text {
    position: absolute;
    top: 133px;
    left: 543px;
    font-family: "Roboto-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0;
    white-space: nowrap;
}
/*side bar*/
.sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 1460px;
    align-items: flex-start;
    position: relative;
    background-color: #555555;
    margin-top: 87px;
}

 .close-picture {
    position: absolute;
    margin-left: 203px;
}

 .main-page-frame {
    display: flex;
    height: 70px;
    align-items: center;
    gap: 10px;
    padding: 8px 8px 8px 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;
}

.menu-text-mainpage {
    color: #ffffff;
    font-size: 22px;
    line-height: 26.4px;
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
}

.menu-text-white {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
}
 .main-white-frame {
    display: flex;
    height: 70px;
    align-items: center;
    gap: 10px;
    padding: 8px 8px 8px 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #ffffff;

}

.menu-text-brown {
    color: #555555;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    width: fit-content;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    white-space: nowrap;
}

.main-brown-frame {
    display: flex;
    height: 70px;
    align-items: center;
    gap: 52px;
    padding: 8px 8px 8px 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: #ffffff;

}

