.my-profile {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-body {
    width: 100%;
    max-width: 820px;
    margin: 20px;
}

.main-text {
    font-family: "Roboto-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    position: relative;

}

.main-body-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main-body-information {
    display: flex;
    width: 100%;
    max-width: 788px;
    align-items: center;
    gap: 30px;
    padding: 16px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(100.92, 100.92, 162.56) 0%, rgb(203.91, 203.91, 249.69) 100%);
}

.main-photo {
    width: 105px;
    height: 105px;
    border-radius: 50%;
}

.main-information {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-name {
    font-family: "Inter-SemiBold", Helvetica, serif;
    color: #505050;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: left;
}

.main-country {
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    position: relative;
}
.main-body-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
    padding: 16px;
    width: 100%;
    max-width: 800px;
}

.general-text {
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 16px;
    margin-right: auto;
    margin-left: -10px;
}
.general-text-in-border{
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 16px;
    margin-right: auto;
}
.general-border {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px 20px;
    padding: 16px 8px;
    border-radius: 8px;
    border: 1px solid #555555;
}

.general-insert-frame-1{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    gap: 12px;
    margin-right: auto;
}

.general-input {
    width: 100%;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 8px;
    box-sizing: border-box;
}
.main-contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    width: 100%;
    max-width: 788px;

}

.main-contact-frame {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 16px 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #555555;
}

.main-contact-insert-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.main-notification {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 8px;
    width: 100%;
    max-width: 788px;
    border-radius: 8px;
    border: 1px solid #555555;

}

.frame-notification {
    display: flex;
    width: 100%;

}

.text-notification {
    font-family: "Inter-SemiBold", Helvetica, serif;
    font-weight: 600;
    color: #4f4f4f;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
}

input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 3px solid #555555;
    position: relative;
    margin-left: auto;
    margin-bottom: 5px;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #555555;
    border-radius: 90px;
    transition: 0.1s;
}

input:checked + label:after {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button-frame{
    display: flex;
    justify-content: center;
    gap: 12px 20px;
    padding: 16px 8px;
    width:96%;
    border-radius: 8px;
    border: 1px solid #555555;

}
.button-container {
    display: flex;
    align-items: center;

    gap: 20px;
}
.save-button{
    background-color: #27AE60;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 16px;
}
.cancel-button{
    background-color: #ee7777;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 16px;
}