<div class="nav-wrap">
    <div class="progress active"
        [routerLink]="['/courses', slug, 'main']">
        Головна
    </div>
    <div *ngIf="showChapters" class="progress active"
        [routerLink]="['/courses', slug]">
        Розділи
    </div>
    <div *ngFor="let chapter of chapters" class="progress"
        [class.icon]="chapter.hidden"
        [class.active]="chapter.number === currentNumber"
        [routerLink]="chapter.hidden ? [] : ['/courses', slug, 'chapters', chapter.number]"
        routerLinkActive="app-chapter-details">
            <span *ngIf="!chapter.hidden">{{ chapter.number }}</span>
            <mat-icon class="icon" *ngIf="chapter.hidden">lock</mat-icon>
    </div>
    <div *ngIf="showAdditionalMaterials" class="progress active" [routerLink]="['/courses', slug, 'additional']">
        Матеріали
    </div>
</div>

<app-edit-btn *ngIf="showEditButton" (editModeChanged)="setEditMode($event)"></app-edit-btn>
<app-apply-btn *ngIf="showChapters && !this.me.isStudent(this.slug) && !me.isMentor(this.slug)" [slug]="slug"></app-apply-btn>
