.nav-wrap {
    width: 104%;
    height: 40px;
    z-index:-2;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-wrap:first-child{margin-left: -2%;}
.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
}
.progress {
    display: inline-flex;
    margin: 0 0 0 0.5%;
    height: 30px;
    width: 25%;
    position: relative;
    text-align: center;
    justify-content: center;
    line-height: 30px;
    transition: all 0.8s;
}
.progress:before,
.progress:after {
    content: "";
    position: absolute;
    transition: all 0.8s;
    z-index:-1;
}
.progress:before {
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    transform: skew(45deg);
}
.progress:after {
    height: 50%;
    width: 100%;
    top: 50%;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skew(-45deg);
    -moz-transform: skew(-45deg);
    transform: skew(-45deg);
}

.progress:hover:not(.icon) {
    cursor: pointer;
}
.progress:hover:not(.icon):before,
.progress:hover:not(.icon):after {
    background: #3cff9e;
    cursor: pointer;
}
