<app-course-navbar (navchapters)="getChapters($event)"></app-course-navbar>

<div class="chapter-card-container">
  <mat-card *ngFor="let chapter of chapters; index as i" class="chapter-card"
            [class.locked]="!chapter.visible">
    <ng-container *ngIf="chapter.visible">

      <a class="link" [routerLink]="['/courses', slug, 'chapters', chapter.number]">
        <div class="chapter-button">
          <mat-card-header class="course-details">
            <h3>Розділ {{ chapter?.number }}: {{chapter.shortName}}</h3>
          </mat-card-header>

        <report-button [reportsNumber]="reports[chapter.number-1] ? reports[chapter.number-1].length : 0"></report-button>
      </div>
    </a>

      <mat-card-footer *ngIf="student">
        <div class="info-tags">
          <div class="info-tag">
            Теорія: не розпочато
          </div>
            <div *ngFor="let part of chapter.parts" class="info-tag">
                Практика: {{ part.id | practiceState: practices }}
            </div>
          <div class="info-tag">
            Доповідь: не проведена
          </div>
        </div>
      </mat-card-footer>
    </ng-container>
    <ng-container *ngIf="!chapter.visible">
      <mat-card-header class="course-details">
        <h3>Розділ {{ chapter?.number }}: {{chapter.shortName}}</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-icon class="lock-icon">lock</mat-icon>
      </mat-card-content>
    </ng-container>
  </mat-card>
</div>
