<app-course-navbar 
    (navSlug)="getSlug($event)"
    (navchapters)="getChapters($event)" 
    (editModeChanged)="setEditMode($event)">
</app-course-navbar>

<div class="chapter-card-container">
  <mat-card *ngFor="let chapter of chapters; index as i" class="chapter-card"
            [class.locked]="chapter.hidden" [class.edit]="editMode">
    <ng-container *ngIf="!chapter.hidden">

      <div *ngIf="editMode" class="chapter-button" (click)="editClick(chapter)">
          <mat-card-header class="course-details">
            <h3>Розділ {{ chapter?.number }}: {{chapter.shortName}}</h3>
          </mat-card-header>
      </div>
      <div *ngIf="!editMode" class="chapter-button">
        <a class="link" [routerLink]="['/courses', slug, 'chapters', chapter.number]">
          <mat-card-header class="course-details">
            <h3>Розділ {{ chapter?.number }}: {{chapter.shortName}}</h3>
          </mat-card-header>
        </a>
        <report-button *ngIf="isInvolved" 
                [slug]="slug"
                [reports]="chapter.reports">
        </report-button>
        <div class="diagram-container">
          <div class="diagram">
            <canvas #myCanvas width="75" height="75"></canvas>
          </div>
          <div class="totalPercentage">
            {{ percent[i] < 100 ? ((percent[i] < 10) ? '&nbsp;&nbsp;' : '&nbsp;') + percent[i] + '%' : percent[i] + '%' }}
          </div>
        </div>
      </div>

      <mat-card-footer *ngIf="isStudent">
        <div class="info-tags">
          <div class="info-tag">
            Теорія: {{chapter.state | StatePipe}}
          </div>
            <div *ngFor="let part of chapter.parts" class="info-tag">
                Практика {{chapter.parts.length > 1 ? part.practice.number : ''}}: {{ part.practice.state | StatePipe }}
            </div>
          <div class="info-tag">
            Доповіді: {{getReports(chapter.myReports)}}
          </div>
        </div>
      </mat-card-footer>
    </ng-container>
    <ng-container *ngIf="chapter.hidden">
      <mat-card-header class="course-details">
        <h3>Розділ {{ chapter?.number }}: {{chapter.shortName}}</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-icon class="lock-icon">lock</mat-icon>
      </mat-card-content>
    </ng-container>
  </mat-card>

  <mat-card *ngIf="editMode" class="new-chapter-card">
    <ng-container>
      <div class="chapter-button">
          <mat-card-header class="add-chapter">
            <h3># додати розділ #</h3>
          </mat-card-header>
      </div>
    </ng-container>
  </mat-card>
  
</div>