.chapter-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chapter-card {
    position: relative;
    max-width: 75%;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.chapter-card:not(.locked) {
    cursor: pointer;
}

.chapter-card:last-child {
    border-bottom: 1px solid #6d5f5f; /* Лінія знизу останнього елемента */
}

.chapter-card a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
}
.chapter-card:hover:not(.locked) {
    background-color: #f8f8f8; /* Зміна тону фону при наведенні */
    transform: translateY(-3px); /* Зсув компонента при наведенні */
}

.course-details {
    padding: 10px;
}

.course-details h3 {
    margin: 0;
}

.new-chapter-card {
    cursor: pointer;
    position: relative;
    max-width: 75%;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #c96c6c; 
}

.add-chapter {
    padding: 10px;
    text-align: center;
}

.new-chapter-card:hover {
    background-color: #cc1818; /* Зміна тону фону при наведенні */
    transform: translateY(-3px); /* Зсув компонента при наведенні */
}

.mat-card-header {
    background-color: #eee;
    padding: 10px;
}

.mat-card-content {
    margin-right: auto;
    margin-bottom: 2%;
}

.lock-icon {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 5px;
}

.chapter-card.locked {
    opacity: 0.5;
}

.chapter-card.edit {
    background-color: #d18f8f;
}

.chapter-card.edit:hover {
    background-color: #cc3e3e;
}

.info-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-tag {
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 4px;
}
.chapter-button{
    display:flex;
}
.diagram-container {
    margin-left: auto;
    position: relative;
    display: inline-block;
    text-align: center; 
  }
  
  .diagram {
    display: inline-block;
    margin-left: auto;
  }
  
  .totalPercentage {
    position: absolute;
    top: 38%;
    left: 28%;
    font-size: 13px;
    white-space: nowrap;
  }

