.changing-title-field {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;

}
.changing-date-field {
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 70px;
    margin-top: 100px;
}
.changing-time-field {
    display: inline-flex;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 100px;
}
.changing-dialog-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel-button {
    background-color: #ee7777;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;

}

.ok-button {
    background-color: #27AE60;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
}