
.title-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;

}

.date-field {
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;

  margin-top: 50px;
}

.chapter-field {
  display: inline-flex;
  flex-direction: column;
  margin-left: 20px;
}

.dialog-actions {
  height: 40px;
  margin-top: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-button {
  background-color: #ee7777;
  color: #fff;
  padding: 8px 16px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;

}

.ok-button {
  background-color: #27AE60;
  color: #fff;
  padding: 8px 16px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
}
