<div class="chapter-details-container">
	<h3>Розділ {{ chapter?.number }}: {{chapter?.name}}</h3>
    <mat-card *ngFor="let subchapter of subchapters" class="chapter-part">
        <ng-container>
            <mat-card-header class="chapter-part">
                <h2>{{chapter?.number}}.{{subchapter?.number}}. {{subchapter?.name}}</h2>
            </mat-card-header>
            <div *ngIf="subchapter?.refs">
            	<h2>{{subchapter?.refs}}</h2>
            </div>
            <div *ngFor="let subsubchapter of subchapter.subsubchapters" class="chapter-part">
            	<h2>{{chapter?.number}}.{{subchapter?.number}}.{{subsubchapter?.number}}. {{subsubchapter?.name}}</h2>
            	<div *ngIf="subsubchapter?.refs">
            		<h2>{{subsubchapter?.refs}}</h2>
            	</div>
            </div>
        </ng-container>
    </mat-card>
</div>
