.chapter-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.chapter-part {
    position: relative;
    max-width: 75%;
    min-height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.chapter-part:last-child {
    border-bottom: 1px solid #6d5f5f; /* Лінія знизу останнього елемента */
}

.chapter-part a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
}
.chapter-part:hover {
    background-color: #f8f8f8; /* Зміна тону фону при наведенні */
    transform: translateY(-3px); /* Зсув компонента при наведенні */
}

.chapter-details {
    padding: 10px;
}

.chapter-details h3 {
    margin: 0;
}

.mat-card-header {
    background-color: #eee;
    padding: 10px;
}

.mat-card-content {
    padding: 10px;
}

.info-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-tag {
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 4px;
}
