.chapter-header {
    min-height: 80px;
    display: flex;
    background-color: #30BE70;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    margin-left: 40px;
    margin-right: 40px;    
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.chapter-part {
    margin-left: 40px;
    margin-right: 40px;    
    margin-top: 8px;
    margin-bottom: 10px;
    min-height: 80px;
    display: flex;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid;
    position: relative;
}

.chapter-details-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 5px;
    margin-left: 40px;
    margin-right: 40px;    
    margin-top: 8px;
    margin-bottom: 40px;
}

.accordion-item {
    display: block;
    width: relative;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 3px;
}

.chapter-details-container-ext {
    margin-top: 8px;
    margin-left: 40px;
    margin-right: 40px;    
    margin-bottom: 40px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.roll{
    cursor: pointer;
}

.sub {
    margin-left: 12px;
    margin-right: 18px;
}

.accordion-button {
    cursor: pointer;
}

.subblock{
    align-items: center;
    display: inline-flex;
}

.subchapter-header {
    cursor: default;
    position: relative;
    width: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
/*    transition: background-color 0.3s ease, transform 0.2s ease;*/
}

.horizontal-line {
    height: 2px;
    width: relative;
    margin-left: 20;
    margin-right: 40;
    margin-top: 0;
    background-color: #909090;
    border: 0 none;
}

.chapter-details {
    padding: 10px;
}

.chapter-details h3 {
    margin: 0;
}

.mat-card-header {
    background-color: #eee;
    padding: 10px;
}

.mat-card-content {
    padding: 10px;
}

.info-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-tag {
    background-color: #f0f0f0;
    padding: 3px 8px;
    border-radius: 4px;
}

.accordion-span {
    color: #c0d0c0;
}

.column {
    padding: 2px;
    flex-direction: column;
    display: flex;
}

.row {
    display: flex;
    width: 100%;
    margin: 5px;
}

.praxis {
    margin-bottom: 10px;
}

.report-button {
    position: relative;
    top: 0;
    right: 0; /* Змінюємо 'left' на 'right' для розміщення зправа */
    display: flex;
    align-items: center;
}

.chapter-button  {
    margin-top: 10px;
    position: relative;
    bottom: 0;
    right: 0; /* Змінюємо 'left' на 'right' для розміщення зправа */
    display: flex;
    align-items: center;
    min-height: 30px;
}

.action-buttons {
    position: absolute;
    top: 0;
    right: 0; /* Змінюємо 'left' на 'right' для розміщення зправа */
    display: flex;
    align-items: center;
}

.action-buttons .action-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

button.done-btn {
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    color: white;
    border-width: 0;
}
button.done-btn[disabled] {
    background-color: lightgrey;
}

button.done-btn:not([disabled]) {
    background-color: #27AE60;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.fit-text {
    width: 80%
}

.custom-chip {
    height: calc(1.5em + 10px);
    width: auto;
    right: 0;
    top: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 1px 12px;
    margin: 2px;
    background-color: white;
    border: 1px solid #27AE60;
    color: #27AE60;
    font-size: 16px;
    border-radius: calc(1.5em + 5px);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.skill-part {
    display: inline-flex;
}

.skill {
    height: 20px;
    margin: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3px 5px;
    gap: 10px;
    background-color: #EAFFF2;
    border: 1px solid #27AE60;
    color: #27AE60;
    font-size: 10px;
    border-radius: 8px;
}