<div class="chapter-details-container">
	<h2>Розділ {{ chapter?.number }}: {{chapter?.name}}</h2>
    <mat-card *ngFor="let subchapter of chapter?.subChapters" class="chapter-card">
        <h3>{{chapter?.number}}.{{subchapter.number}}. {{subchapter.name}}</h3>
            <div>
            	<h3>{{subchapter.refs}}</h3>
            </div>
            <div *ngFor="let subsubchapter of subchapter.subSubChapters">
            	<h3>{{chapter?.number}}.{{subchapter.number}}.{{subsubchapter.number}}. {{subsubchapter.name}}</h3>
            	<div *ngIf="subsubchapter.refs">
            		<h3>{{subsubchapter?.refs}}</h3>
            	</div>
            </div>
    </mat-card>
</div>
