.course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /* Задайте вашу бажану максимальну ширину */
    margin: 0 auto;
}

.course-card {
    width: 75%;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
}

.course-card:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
}

.course-create {
    width: 50%;
    margin: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    background-color: #e0e0e0;
}

.course-create:hover {
    transform: translateY(-5px);
    background-color: #e0f0e0;
}

.card-link {
    width: 100%;
    text-decoration: none;
}

.course-details {
    display: flex;
    align-items: center;
    width: 100%;
}

.icon {
    width: 32px; /* Задайте розмір іконки за вашим бажанням */
    height: 32px;
    margin-right: 20px;
}

.course-card:hover .icon {
    animation: bounceAndScale 1s infinite alternate; /* Анімація іконки при наведенні */
}

@keyframes bounceAndScale {
    0%, 100% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(5px) scale(1.2);
    }
}

.course-name {
    text-align: center;
    flex: 1;
}
