<div class="course-container">
    <mat-card *ngFor="let course of coursesProp" class="course-card" 
        [class.studentCourse]="course.color === this.studentCourse"
        [class.mentorCourse]="course.color === this.mentorCourse"
        [class.applicantCourse]="course.color === this.applicantCourse"
        [class.otherCourse]="course.color === this.otherCourse">
        <a [routerLink]="course.route" (click)="onSelect(course.slug)">
            <mat-card-content class="course-details">
                <svg-icon class="icon" name={{course.slug}} [stretch]="true"></svg-icon>
                <h3 class="course-name">{{ course.name }}</h3>
            </mat-card-content>
        </a>
    </mat-card>
    <mat-card *ngIf="createCapability" class="course-create">
        <a [routerLink]="'/courses/create'">
            <mat-card-content class="course-details">
                <h3 class="course-name"># Створити новий курс #</h3>
            </mat-card-content>
        </a>
    </mat-card>
</div>