/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    overflow-x: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.normal-snackbar {
    background-color: #4caf50;
    color: white;
}

.error-snackbar {
    background-color: #f44336;
    color: white;
}

