<div class="dashboard-container">
    <div class="metric-card clickable" [routerLink]="'students/practices'">
        <div class="metric-title">Практичні готові до здачі</div>
        <app-practic-metric [shouldShowHeader]="false" class="widget"></app-practic-metric>
    </div>
    <div class="metric-card clickable">
        <div class="metric-title">Заявки на навчання на курсі</div>
        <app-inactive-person [shouldShowHeader]="false" class="widget"></app-inactive-person>
    </div>
</div>

