<div class="center-container">
    <div class="header" *ngIf="shouldShowHeader">
        <h3>Практичні роботи студентів</h3>
        <div class="filter-buttons button-container">
            <button
                    *ngFor="let state of practicStates"
                    [class.active]="showState.includes(state)"
                    [class.mat-raised-button]="!showState.includes(state)"
                    [class.mat-stroked-button]="showState.includes(state)"
                    (click)="onStateButtonClick(state)"
            >
                <ng-container *ngIf="!showState.includes(state)">
                    <span class="filter-name">{{ state}}</span>
                </ng-container>
                <ng-container *ngIf="showState.includes(state)">
                    {{ state }}
                </ng-container>
            </button>
        </div>
    </div>
    <div class="table-container">
        <app-table-widget
                [displayedColumns]="displayedColumns"
                [data]="data"
                [columnNameMap]="columnNameConverterMap"
                [showPaginator]="shouldShowHeader"
                [isRequestInProgress] = "isRequestInProgress"
                (performAction)="handleAction($event)"
                class="app-table-widget"
        ></app-table-widget>
    </div>
</div>
