<button mat-icon-button class="round-image-button" 
    [matMenuTriggerFor]="menu" 
    aria-label="Menu">
    <mat-icon 
    [ngStyle]="{ 'background-image': userPic ? 'url(' + userPic + ')' :
     'url(https://i.imgur.com/2OB0d0t.png)' }"
     class="custom-icon" ></mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="after">
   <button mat-menu-item (click)="onMenuItemClick('person')">
        <mat-icon>person</mat-icon>
        <span>Профіль</span>
    </button>
    <button mat-menu-item (click)="onMenuItemClick('admin')"
    *ngIf="isAdmin">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Адмін панель</span>
    </button>
    <button mat-menu-item (click)="onMenuItemClick('logout')">
        <mat-icon>logout</mat-icon>
        <span>Вийти</span>
    </button>
</mat-menu>

