<footer class="mat-elevation-z2">
    <div class="centered-content">

        <div class="first-line">
            <a mat-icon-button class="first-line-buttons" href="https://programming.org.ua/ua/courses/adults">
                <span class=first-icons> Курси</span>
            </a>
            <p class="separate">|</p>
            <a mat-icon-button class="first-line-buttons" href="https://programming.org.ua/ua/feedback-all">
                <span class=first-icons> Відгуки</span>
            </a>
            <p class="separate">|</p>

            <a mat-icon-button class="first-line-buttons" href="https://programming.org.ua/ua/contacts">
                <span class=first-icons> Контакти</span>
            </a>
        </div>

        <div class="center-line">
            <a mat-icon-button class="shpp-button" href="https://programming.org.ua/ua">
                <span class=shpp-icon>Ш++</span>
            </a>
            <a mat-icon-button class="discord-button"
               href="https://discord.com/channels/534496884849639455/843878028908036136">
                <mat-icon class=discord-icon>discord</mat-icon>
            </a>
        </div>

        <div class="end-line">
            <span class="end-line">&copy; 2023 Всі права захищено</span>
        </div>
    </div>
</footer>