<div class="certificate-request-window">
    <h2 mat-dialog-title>Certificate Request Form</h2>
  
    <div>
      <mat-dialog-content class="mat-typography">
  
        <h3>Info</h3>
        <div class="certificate-request-info">
            <input matInput [(ngModel)]="certificateInfo.studentName" required="true"/>
            <input class="certificate-input" type="text" value={{certificateInfo.courseName}} readonly />
        </div>
  
        <h3>Skills</h3>
        <div class="certificate-request-skills">
          <dl class="skills-list">
            <dd *ngFor="let skill of certificateInfo?.selectedSkills">
              <input (change)="skill.enabledSkill = !skill.enabledSkill" type="checkbox" checked="skill.enabledSkill" /> {{skill}}
            </dd>
          </dl>
        </div>
  
      </mat-dialog-content>
  
      <mat-dialog-actions align="start">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="sendMessage()" [mat-dialog-close]="true" cdkFocusInitial>SendRequest</button>
      </mat-dialog-actions>
    </div>
  </div>