.cancel-button {
    background-color: #ee7777;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;

}

.ok-button {
    background-color: #27AE60;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
}