.main-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.title {
    color: black;
    background: #c7c7c7;
}

.sub-title {
    color: black;
}

.cancel-button {
    background-color: #ee7777;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
}

.ok-button {
    background-color: #27AE60;
    color: #fff;
    padding: 8px 16px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
}

.certificate-field {
    background: #e8e8e8;
    width: 50%;
}

.certificate-input {
    width: 50%;
}

