<div class="container login-container">
    <img class="login-background-image" src="assets/background_image.ico" alt="Here must be background image" width="">
    <div class="login-sub-container">
        <a href="{{linkedinURL}}">
            <img class="linkedin-image" src="assets/button_linkedin.ico" alt="Here must be sign in linkedin button">
        </a>
        <div>Натискаючи «Авторизуйся через LinkedIn», ви погоджуєтеся з Політикою
        <br/>
        Конфіденційності та Умовами використання Practically.Programming.
        </div>
    </div>
</div>