<div class="container">
    <div class="centered-content">
        <p>Відгуки та пропозиції</p>
    </div>
    <div class="right-corner">
        <button class="sort-button" mat-icon-button [matMenuTriggerFor]="sortMenu">
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
            <button mat-menu-item (click)="sortData('RATING_DESCENDING')">Більше лайків</button>
            <button mat-menu-item (click)="sortData('RATING_ASCENDING')">Меньше лайків</button>
            <button mat-menu-item (click)="sortData('DATE_DESCENDING')">Нещодавно створені</button>
            <button mat-menu-item (click)="sortData('DATE_ASCENDING')">Давно створені</button>
        </mat-menu>
        <button *ngIf="me && !me.hasGuestRole()" class="create-feedback-button" (click)="openFeedbackDialog()">Залишити
            відгук
        </button>
    </div>
</div>
<div class="cards-container">
    <div class="feedback-card"
         *ngFor="let feedback of feedbacks">
        <div class="user-info">
            <p class="username">{{ feedback.name || "Немає ім'я" }}</p>
            <img class="userpic" [src]="feedback.profilePictureUrl || 'assets/default_profile_picture.png'"
                 alt="avatar">
            <p class="date"> {{getDate(feedback.date)}}</p>
        </div>
        <div class="card-info">

            <div class="delete" [class.visible]="me!=undefined && isAuthorOrAdmin(feedback)">
                <button mat-icon-button class="delete-button" (click)="deleteFeedback(feedback)">
                    <mat-icon class="delete-icon">clear</mat-icon>
                </button>
            </div>
            <div class="feedback-message">
                <p>{{ feedback.feedback || "Коментар відсутній"}}</p>
            </div>
            <div class="likes">

                <button *ngIf="me" mat-icon-button class="like-button">
                    <mat-icon class="like-icon" *ngIf="!feedback.meLiked" (click)="incrementLike(feedback)">
                        favorite_border
                    </mat-icon>
                    <mat-icon class="like-icon" *ngIf="feedback.meLiked" (click)="decrementLike(feedback)">favorite
                    </mat-icon>
                </button>

                <button *ngIf="!me" mat-icon-button class="like-button">
                    <mat-icon class="like-icon">favorite_border</mat-icon>
                </button>
                <p>{{feedback.likes}}</p>
            </div>
        </div>
    </div>
</div>
<mat-paginator [length]="totalFeedbacks" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
               (page)="onPageChange($event)"></mat-paginator>

