<div class="center-container">
    <div class="header" *ngIf="shouldShowHeader">
        <h3>Заявки на навчання</h3>
    </div>
    <div class="table-container">
        <app-table-widget
                [displayedColumns]="displayedColumns"
                [data]="data"
                [columnNameMap]="columnNameConverterMap"
                [showPaginator]="shouldShowHeader"
                [isRequestInProgress] = "isRequestInProgress"
                (performAction)="handleAction($event)"
                class="app-table-widget"
        ></app-table-widget>
    </div>
</div>
