<mat-toolbar>
    <div class="header-container">
        <a routerLink="/">
            <span class="header-logo">practically.</span>
            <span class="header-logo">programming.</span>
        </a>
    </div>
    <span class="spacer"></span>
    
    <div class="userpic-container">
    <app-menu-btn
            (menuItemSelected)="onMenuButtonClick($event)"
            [isAdmin]="isAdmin"
            *ngIf="isAuthenticated"
            [userPic]="profilePictureUrl"
    ></app-menu-btn>
    <h1>{{name}}</h1>
    </div>
</mat-toolbar>
