mat-toolbar {
    background-color: #27AE60;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 16px;
}

.header-logo {
    font-size: 20px;
    font-weight: bold;
}

.header-container a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1 1 auto;
}

.admin-button {
    background-color: #E0E0E0;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}