
.window {

    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #F0F0F0;
  }

.header{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
}


.buttons {
    text-align: center;

  }

  
  .buttons button:first-child {
    border: none;
    background-color: #27AE60;
  color: #fff;
  padding: 8px 8px;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
    margin-right: 10px;
  }
  
  .buttons button:last-child {
    border: none;
    background-color: #ee7777;
    color: #fff;
    padding: 8px 8px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
.mat-field  {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    align-items: center;
    width: 400px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px !important;
    align-items: center;
}

.mat-field-pass{
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
    width: 400px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px !important;
    align-items: center;
}

.visible-icon{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
}

.field{
    
    color: #C6C6C6;
}

.bottom-line{
 display: list-item;   
 align-items: center;
}
