<!----
     <router-outlet></router-outlet> 
---->


<div *ngFor="let courseApp of courseApplicants">
    <h2>{{courseApp.courseName}}</h2>
    <table>
        <tr class="headers">
            <td>заявник</td>
            <td>час</td>
            <td>прийняти</td>
            <td>стан</td>
            <td>відхилити</td>
        </tr>
        <tr *ngFor="let applicant of courseApp.applicants" class="applicant-row">
            <td>{{applicant.name}}</td>
            <td>{{applicant.createdAt}}</td>
            <td>
                <button *ngIf="!applicant.student && !applicant.applied && !applicant.rejected" (click)="mentorService.admit(applicant)">
                    Прийняти
                </button>
            </td>
            <td *ngIf="applicant.applied">прийнятий</td>
            <td *ngIf="applicant.rejected">відхилений</td>
            <td *ngIf="!applicant.applied && !applicant.rejected">очікує</td>
            <td>
                <button *ngIf="!applicant.student && !applicant.applied && !applicant.rejected" (click)="mentorService.reject(applicant)">
                    Відхилити
                </button>
            </td>
        </tr>
    </table>
    <br>
</div>
