<!----
     <router-outlet></router-outlet> 
---->


<div *ngFor="let course of courses">
    <h2>{{course.name}}</h2>
    <table>
        <tr class="headers">
            <td>заявник</td>
            <td>час</td>
            <td>прийняти</td>
            <td>стан</td>
            <td>відхилити</td>
        </tr>
        <tr *ngFor="let applicant of getApplicants(course.slug).applicants" class="applicant-row">
            <td>{{applicant.name}}</td>
            <td>{{applicant.createdAt}}</td>
            <td>
                <button *ngIf="operable(applicant)" (click)="mentorService.admit(applicant)">
                    Прийняти
                </button>
            </td>
            <td>{{getState(applicant)}}</td>
            <td>
                <button *ngIf="operable(applicant)" (click)="mentorService.reject(applicant)">
                    Відхилити
                </button>
            </td>
        </tr>
    </table>
</div>
